page-contact {
    .bg_img_contact {

        background-image: url('../assets/imgs/bg.png');
        background-repeat: no-repeat;
        background-size:cover;
        }
        .logo_img{
            height: 50% !important;
            width: 100% !important;
            margin-top: 10% !important;
        }        
        .location{
            padding: 1% 4%;
            margin-top: 1%;
            width: 80% !important;
        
        }        
        .phone{
            padding: 1% 4%;
            margin-top: 1%;
            width: 100% !important;
        
        }        

        .info{
            margin: 5% 0;
            background-color: black;
        }
}
